.table_style {
    margin-top: 50px;
    padding-bottom: auto;
    background-color: #d8dee0;
    height: 100%;
}

.background{
    /* background-color; */
    background-image: url("img/e0a530fb4ece2174390452ec2e59360b.jpg")
}

.navbar{
    margin-bottom: 10px
}

ul {
    list-style-type: none;
  }

.dt{
    size: 30px
}

.well{
    background-color: #7cc1d1;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}
.grey{
    color:rgb(53, 53, 53)
}

.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.account-wall
{
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0px 0px 20px 0px;
    background-color: #dad2cc;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-default{
  background-color:#7cc1d1;
}

.panel-default .panel-heading{
  background-color: #7cc1d1;
}

.sidenav {
    padding-top: auto;
    padding-bottom: auto;
    background-color: #fff1d4;
    height: 100%;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.3);
  }

  .pointer
  {cursor: pointer}

    hr{
    border-top: 1px solid #6bbdcf
  }