<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <br>
        <div class="account-wall">
            <div class=" panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Change Password </strong></h3></div>
                  <form class="form-signin">
                  <form >
                  Old Password:<br>
                  <input type="text" class="form-control"ng-model="vm.user.login"><br>
                  New Password:<br>
                  <input type="password" class="form-control"ng-model="vm.user.password"><br>
                  Repeat New Password:<br>
                  <input type="password" class="form-control"ng-model="vm.user.password"><br><br>
                  <button class="btn btn-default btn-block" ng-click="vm.submit()" type="submit">Submit</button>
                </form>
              </form>
              </div>
            </div>
          </div>
      </div>
      <div class="col-sm-6 col-md-4 " ></div>