<div class="col-sm-12">
    <div class="col-sm-4" ng-if="vm.recipes[0]">
        <h2>{{vm.recipes[0].label}}</h2>
        <img src="{{vm.recipes[0].image}}">
        <h4><b>Ingredients</b></h4>
        <ul class="ingredients-list">
            <li ng-repeat="ingredient in vm.recipes[0].ingredientLines">{{ingredient}}</li>
        </ul>
        <h4><b>Preparing</b></h4>
        <a href="{{vm.recipes[0].url}}" style="receipe-link">Link to the whole receipe</a>
    </div>
    <div class="col-sm-4" ng-if="vm.recipes[1]">
        <h2>{{vm.recipes[1].label}}</h2>
        <img src="{{vm.recipes[1].image}}">
        <h4><b>Ingredients</b></h4>
        <ul class="ingredients-list">
            <li ng-repeat="ingredient in vm.recipes[1].ingredientLines">{{ingredient}}</li>
        </ul>
        <h4><b>Preparing</b></h4>
        <a href="{{vm.recipes[1].url}}" style="receipe-link">Link to the whole receipe</a>
    </div>
    <div class="col-sm-4" ng-if="vm.recipes[2]">
        <h2>{{vm.recipes[2].label}}</h2>
        <img src="{{vm.recipes[2].image}}">
        <h4><b>Ingredients</b></h4>
        <ul class="ingredients-list">
            <li ng-repeat="ingredient in vm.recipes[2].ingredientLines">{{ingredient}}</li>
        </ul>
        <h4><b>Preparing</b></h4>
        <a href="{{vm.recipes[2].url}}" style="receipe-link">Link to the whole receipe</a>
    </div>
</div>