<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <br>
        <div class="account-wall">
            <div class=" panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>Choose e-mail </strong></h3></div>
                  <form class="form-signin">
                  Email:<br>
                  <input type="text" class="form-control"ng-model="vm.user.password"><br><br>
                  <button class="btn btn-default btn-block" ng-click="vm.submit()" type="submit">Send Password</button>
              </form>
              </div>
            </div>
          </div>
</div>
<div class="col-sm-6 col-md-4 " ></div>